# Supabase Configuration
# Скопируйте этот файл как .env.local на вашем хостинге

NEXT_PUBLIC_SUPABASE_URL=https://tpkkueyxliiythanmebw.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRwa2t1ZXl4bGlpeXRoYW5tZWJ3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjM2MTk0MjEsImV4cCI6MjA3OTE5NTQyMX0.ASWnENWORpvCs2RXp37M5TGfGRzjU6HSeenAdJrAqrU
